@font-face {
  font-family: 'layer-icomoon';
  src:  url('fonts/layer-icomoon.eot?2yg7h1');
  src:  url('fonts/layer-icomoon.eot?2yg7h1#iefix') format('embedded-opentype'),
    url('fonts/layer-icomoon.ttf?2yg7h1') format('truetype'),
    url('fonts/layer-icomoon.woff?2yg7h1') format('woff'),
    url('fonts/layer-icomoon.svg?2yg7h1#layer-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'layer-icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-content-btn-guanbi:before {
  content: "\e900";
}
.icon-content-btn-qixaingleida:before {
  content: "\e902";
}
.icon-content-btn-qixiangyubao:before {
  content: "\e903";
}
.icon-content-btn-quanping:before {
  content: "\e904";
}
.icon-content-btn-riqi:before {
  content: "\e905";
}
.icon-content-btn-shipinjiankong:before {
  content: "\e907";
}
.icon-content-btn-shuiyuqing:before {
  content: "\e908";
}
.icon-content-btn-tuceng:before {
  content: "\e90a";
}
.icon-content-btn-tucengshouqi:before {
  content: "\e90b";
}
.icon-content-btn-xiala:before {
  content: "\e90c";
}
.icon-content-btn-xiazai:before {
  content: "\e90f";
}
.icon-content-btn-youhua:before {
  content: "\e910";
}
.icon-content-btn-zhushi:before {
  content: "\e911";
}
.icon-content-btn-zuohua:before {
  content: "\e912";
}
.icon-content-icon-anzhidian:before {
  content: "\e913";
}
.icon-content-icon-dingwei:before {
  content: "\e914";
}
.icon-content-icon-fengxianqu:before {
  content: "\e915";
}
.icon-content-icon-shipinjiankong:before {
  content: "\e916";
}
.icon-content-icon-taifenglujing:before {
  content: "\e917";
}
.icon-content-icon-xuanzhongtubaio:before {
  content: "\e918";
}
.icon-content-icon-yubaoduanmian:before {
  content: "\e919";
}
.icon-content-icon-yubaowangge:before {
  content: "\e91a";
}
.icon-content-icon-shangzhang:before {
  content: "\e91c";
}
.icon-content-icon-fangyuduixiang:before {
  content: "\e91d";
}
.icon-content-icon-xiajiang:before {
  content: "\e91e";
}
.icon-content-icon-goutanzhandi:before {
  content: "\e91f";
}
.icon-content-icon-jisuo:before {
  content: "\e920";
}
.icon-content-icon-jiwan:before {
  content: "\e921";
}
.icon-content-icon-shantang:before {
  content: "\e922";
}
.icon-content-icon-shuiku:before {
  content: "\e923";
}
.icon-content-icon-shuiweizhan:before {
  content: "\e924";
}
.icon-content-icon-yulaingzhan:before {
  content: "\e925";
}
.icon-content-icon-zhongyaocunluo:before {
  content: "\e926";
}
.icon-content-icon-qiaoliang:before {
  content: "\e927";
}
.icon-content-icon-yanba:before {
  content: "\e928";
}
.icon-contnet-btn-xuanzhong:before {
  content: "\e929";
}
.icon-content-btn-xiangqing:before {
  content: "\e92a";
}
.icon-content-btn-jiaohuan-you:before {
  content: "\e92b";
}
.icon-content-btn-jiaohuan-zuo:before {
  content: "\e92c";
}
.icon-content-icon-jiazaijianzhu:before {
  content: "\e92d";
}
.icon-content-icon-morenshijiao:before {
  content: "\e92f";
}
.icon-content-icon-tucengkongzhi:before {
  content: "\e930";
}
.icon-content-icon-yanchengshuiwei:before {
  content: "\e931";
}
.icon-content-icon-kuaisudingwei:before {
  content: "\e932";
}
.icon-content-btn-jianshao:before {
  content: "\e933";
}
.icon-content-btn-tianjia:before {
  content: "\e934";
}
.icon-content-btn-tianjia2:before {
  content: "\e935";
}
.icon-content-icon-yubaoheduanchengguo:before {
  content: "\e936";
}
.icon-content-icon-yubaocunluochengguo:before {
  content: "\e937";
}
.icon-content-icon-yingxaingtu:before {
  content: "\e938";
}
.icon-content-icon-yanchengshuimianxian:before {
  content: "\e939";
}
.icon-content-icon-cunjiyuan:before {
  content: "\e93a";
}
.icon-shipinjiankong-zaixian:before {
  content: "\e93b";
}
.icon-content-btn-bianji:before {
  content: "\e93c";
}
.icon-shipinjiankong-lixian:before {
  content: "\e93e";
}
.icon-content-icon-yitigan:before {
  content: "\e946";
}
.icon-content-icon-shuikuzhan:before {
  content: "\e955";
}
.icon-shuititouming:before {
  content: "\e97f";
}
.icon-qingchu:before {
  content: "\e981";
}
.icon-manyou:before {
  content: "\e982";
}
.icon-gongjuxiang:before {
  content: "\e983";
}
.icon-cegaocheng:before {
  content: "\e984";
}
.icon-bodadianhua:before {
  content: "\e985";
}
.icon-fasongduanxin:before {
  content: "\e986";
}
